html{
    background-color: #e3e3e3;
    font-family: Helvetica, sans-serif;
  }
  #title{
    text-align: center;
    color: #c90e0e;
  }
  #img-div{
    background-color: white;
    padding: 20px 0;
  }
  #img-caption{
    text-align: center;
    margin-top: 15px;
  }
  img{
    height: auto;
    max-width: 100%;
    margin: auto auto;
    display: block;
  }
  #tribute-info{
    display: block;
    max-width: 550px;
    margin: auto auto;
    line-height: 1.5;
    text-indent: 2rem;
  }
  #link{
    margin: auto auto;
    text-align: center;
    font-size: 18px;
  }